.home{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  line-height: normal;
}
.home-logo{
  font-weight: 1000;
  display: inline;
  text-align: center;
  background-image: linear-gradient(to right, #FF5C1C 0%, #ffc04b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-logo-2{
  display: inline;
  padding-left: 5.5px;
  text-align: center;
  color: #727272;
  margin-right: 50px;
}
input{
  width: 459px;
  height: 48px;
  margin: auto;
  font-size: inherit;
  padding: 0 58px 0 28px;
  border-radius: 30px;
  border: none;
  border: 1.3px solid #f2f2f2;
  outline: 0;
  box-shadow: 2px 4px 8px 0 rgba(0,0,0,0.15);
  transition: all 300ms ease; 
}
.glass{
  display: inline-block;
  position: relative;
  right: 50px;
  top: 8px;
  width: 30px;
  height: 30px;
}
.glass:hover{
  cursor: pointer;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  * {
    max-width: 100%;
}
  .home{
    text-align: center;
  }
  input{
    width: 61vw;
    margin-top: 2vh;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  }